package footer

import "stjohns/web/views/icons"

templ Footer() {
	<footer class="flex justify-between px-4 md:px-6 py-6">
		<div>
			<h4 class="text-lg font-semibold">St John's Lutheran Church</h4>
			<p class="text-sm">501 North Ave, Millvale, PA 15209</p>
			<p class="text-sm">(412) 821-6266</p>
		</div>
		<div class="space-x-4">
			<a
				href="https://www.facebook.com/StJohnsMillvale"
				target="_blank"
				title="Facebook"
			>
				@icons.Facebook()
			</a>
		</div>
	</footer>
}
